FORM_MAILER_FROM="ACME Inc. <hello@acme.example>"
FORM_MAILER_TO=hello@acme.example
FORM_MAILER_HTTP_URL=http://127.0.0.1:2500
FORM_MAILER_HTTP_TOKEN=mocktoken
TURNSTILE_SECRET_KEY=1x0000000000000000000000000000000AA
