CLOUDFLARE_REACT_FROM=ACME Inc. <hello@acme.example>
CLOUDFLARE_REACT_TO=hello@acme.example
CLOUDFLARE_REACT_HTTP_URL=http://127.0.0.1:2500
CLOUDFLARE_REACT_HTTP_TOKEN=mocktoken
CLOUDFLARE_REACT_TURNSTILE_SITE_KEY=mock-site-key
CLOUDFLARE_REACT_TURNSTILE_SECRET_KEY=mock-secret-key
