NODE_BROCHURE_FROM=ACME Inc. <hello@acme.example>
NODE_BROCHURE_TO=hello@acme.example
NODE_BROCHURE_SMTP_HOST=127.0.0.1
NODE_BROCHURE_SMTP_PORT=2525
NODE_BROCHURE_SMTP_USERNAME=admin
NODE_BROCHURE_SMTP_PASSWORD=admin
