FORM_MAILER_FROM=ACME Inc. <hello@acme.example>
FORM_MAILER_TO=hello@acme.example
FORM_MAILER_SMTP_HOST=127.0.0.1
FORM_MAILER_SMTP_PORT=2525
FORM_MAILER_SMTP_USERNAME=admin
FORM_MAILER_SMTP_PASSWORD=admin
